HELP.md

# System-specific files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
bin/
tmp/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Spring Boot
*.jar
*.war
*.ear

# Database
*.mv.db
*.db

# Miscellaneous
*.class
*.swp
*.tmp
*.bak
*.out

# IDE-specific files
.vscode/
